<h1>Hello World!</h1>

<ul>
  <% @articles.each do |article| %>
      <li>
        <%= link_to "#{article.title}" , article %> - <%= link_to "edit", edit_article_path(article) %> - <%= link_to "delete", article, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> <%= (" - archived" if article.archived?) %>
      </li>
  <% end %>
</ul>
<%= link_to "New article", new_article_path %>